.DS_Store

/486diary_backend/application/cache/*
!/486diary_backend/application/cache/index.html

/486diary_backend/application/logs/*
!/486diary_backend/application/logs/index.html

!/486diary_backend/application/*/.htaccess

/486diary_backend/application/config/database.php

/486diary_backend/composer.lock
/486diary_backend/tests/mocks/database/ci_test.sqlite

/486diary_backend/user_guide_src/build/*
/486diary_backend/user_guide_src/cilexer/build/*
/486diary_backend/user_guide_src/cilexer/dist/*
/486diary_backend/user_guide_src/cilexer/pycilexer.egg-info/*
/486diary_backend//vendor/



# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
